In [3]:
# Location of adult dataset
ADULT_DATAFILE = './adult.data'

In [4]:
##### DEPENDENCIES. Uncomment to install

# !{sys.executable} -m pip install mlxtend
# !{sys.executable} -m pip install apyori
# %pip install mlxtend --upgrade

In [6]:
import sys
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,fpgrowth, association_rules

In [7]:
feature_names = [
   "Age", "Workclass", "fnlwgt", "Education",
   "Education-Num", "Marital Status", "Occupation",
   "Relationship", "Race", "Sex", "Capital Gain",
   "Capital Loss", "Hours per week", "Country", "label"
]
data = pd.DataFrame(
  np.genfromtxt(ADULT_DATAFILE, delimiter=', ', dtype=str),
  columns=feature_names
)

#Leave Education,Race,Age,Sex,Country and label
new_data=data.drop([ "Workclass", "fnlwgt",
   "Education-Num", "Marital Status", "Occupation",
   "Relationship", "Capital Gain","Hours per week",
   "Capital Loss",], axis=1)

new_data.head()
# new_data.loc[new_data['Sex'] == 'Male']
# affected_data=new_data.loc[new_data['label'] == '<=50K']
# affected_data

  Age  Education   Race     Sex        Country  label
0  39  Bachelors  White    Male  United-States  <=50K
1  50  Bachelors  White    Male  United-States  <=50K
2  38    HS-grad  White    Male  United-States  <=50K
3  53       11th  Black    Male  United-States  <=50K
4  28  Bachelors  Black  Female           Cuba  <=50K

In [ ]:
#Transform to sets of objects 
sets = []
for i in range(0, len(new_data)): 
  sets.append([str(new_data.values[i,j]) for j in range(0, len(new_data.columns))])
sets[0:5]

[['39', 'Bachelors', 'White', 'Male', 'United-States'],
 ['50', 'Bachelors', 'White', 'Male', 'United-States'],
 ['38', 'HS-grad', 'White', 'Male', 'United-States'],
 ['53', '11th', 'Black', 'Male', 'United-States'],
 ['28', 'Bachelors', 'Black', 'Female', 'Cuba']]

In [ ]:
#Transform to input needed for frequent itemsets
te = TransactionEncoder()
te_ary = te.fit(sets).transform(sets)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

,10th,11th,12th,17,18,19,1st-4th,20,21,22,...,Scotland,Some-college,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,White,Yugoslavia
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
items1=fpgrowth(df, min_support=0.000005, use_colnames=True)
items1=items1.sort_values(['support'],ascending =[False])
items1.head()

      support                itemsets
0    0.895857         (United-States)
1    0.854274                 (White)
138  0.786862  (United-States, White)
2    0.669205                  (Male)
139  0.598507   (United-States, Male)

In [ ]:
items2 = apriori(df, min_support = 0.01, use_colnames = True)
items1=items1.sort_values(['support'],ascending =[False])
items1.head()

# rules = association_rules(items2, metric ="lift", min_threshold = 1)
# rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
# print(rules.head())

NameError: ignored