## Import libraries

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

from models import customLogisticRegression
from lib2 import valid_triples_with_coverage_correctness, rules2rulesbyif

import matplotlib.pyplot as plt

from IPython.display import Markdown, display

In [2]:
### do we need these?

# from aif360.datasets import StandardDataset
# from aif360.metrics import ClassificationMetric, BinaryLabelDatasetMetric
# from aif360.algorithms.postprocessing import RejectOptionClassification
# from aif360.detectors.mdss.ScoringFunctions import Bernoulli
# from aif360.detectors.mdss.MDSS import MDSS
# from aif360.detectors.mdss.generator import get_random_subset

In [3]:
DATAFILE = '../ad_campaign_data.csv' # location of dataset
random_state = None # change to something for exactly reproducible results

# as selected in "tutorial_bias_advertising" notebook
selected_features = ['gender', 'parents', 'age', 'income', 'area', 'college_educated', 'homeowner']
cate_features = ['gender', 'parents', 'age', 'income', 'area', 'college_educated']

target_name = "true_conversion"
positive_label = 1
negative_label = 0

model_train_fraction = 0.7
learning_class_weights = {0: 0.5, 1: 265}

sensitive_attribute = "gender"

## Load Dataset

In [4]:
ad_conversion_dataset = pd.read_csv(DATAFILE)
ad_conversion_dataset.head()

,religion,politics,college_educated,parents,homeowner,gender,age,income,area,true_conversion,predicted_conversion,predicted_probability
0,Unknown,Unknown,1,1,1,Unknown,55-64,Unknown,Unknown,0,0,0.001351
1,Other,Unknown,1,1,1,Unknown,55-64,Unknown,Urban,0,0,0.002238
2,Unknown,Unknown,1,1,1,F,55-64,Unknown,Unknown,0,0,0.002704
3,Unknown,Unknown,1,1,1,F,55-64,Unknown,Unknown,0,0,0.001967
4,Unknown,Unknown,1,1,1,F,55-64,Unknown,Urban,0,0,0.001681

### Warning!

There is no model!

Predictions (from whatever model has been used) have been incorporated into the dataset, in the columns "predicted_conversion" (which is the predicted label) and "predicted_probability" (which is the predicted probability of belonging to the positive class).

### Print some statistics for the dataset

In [5]:
print(f"Number of (instances, attributes) in the dataset = {ad_conversion_dataset.shape}")
print()

print(f"Statistics of true conversions (0=no, 1=yes)")
print(ad_conversion_dataset.true_conversion.value_counts())
print()

print(f"Statistics of predicted conversions (0=no, 1=yes)")
print(ad_conversion_dataset.predicted_conversion.value_counts())

Number of (instances, attributes) in the dataset = (1443140, 12)

Statistics of true conversions (0=no, 1=yes)
0    1440766
1       2374
Name: true_conversion, dtype: int64

Statistics of predicted conversions (0=no, 1=yes)
0    1440773
1       2367
Name: predicted_conversion, dtype: int64

In [6]:
## keep only the columns in selected_features, plus the label column
ad_conversion_dataset = ad_conversion_dataset[selected_features + [target_name]]
ad_conversion_dataset

,gender,parents,age,income,area,college_educated,homeowner,true_conversion
0,Unknown,1,55-64,Unknown,Unknown,1,1,0
1,Unknown,1,55-64,Unknown,Urban,1,1,0
2,F,1,55-64,Unknown,Unknown,1,1,0
3,F,1,55-64,Unknown,Unknown,1,1,0
4,F,1,55-64,Unknown,Urban,1,1,0
...,...,...,...,...,...,...,...,...
1443135,F,1,25-34,Unknown,Unknown,1,1,0
1443136,F,1,55-64,Unknown,Unknown,1,0,0
1443137,Unknown,1,55-64,Unknown,Unknown,1,1,0
1443138,F,1,55-64,Unknown,Unknown,1,1,0
1443139,F,1,55-64,Unknown,Unknown,1,1,0

In [7]:
## train-test split

X = ad_conversion_dataset.drop(target_name, axis=1)
y = ad_conversion_dataset[target_name]

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=model_train_fraction, random_state=random_state, stratify=y)

X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [8]:
%%time

model = customLogisticRegression(class_weight=learning_class_weights)
model.fit(X_train, y_train, cate_columns=cate_features, target_column=target_name)
model.predict(X_test.iloc[:100, :])

CPU times: total: 15.6 s
Wall time: 7.56 s

array([1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

# Testing the model

We check if the model is satisfactory.

In [9]:
preds = model.predict(X_test)
print(classification_report(y_test.map({negative_label: 0, positive_label: 1}), preds))

              precision    recall  f1-score   support

           0       1.00      0.90      0.95    432231
           1       0.00      0.10      0.00       712

    accuracy                           0.90    432943
   macro avg       0.50      0.50      0.47    432943
weighted avg       1.00      0.90      0.94    432943

Given the high imbalance of the dataset, we consider that the above results are good enough.

# Find all valid if-thens with all respective coverages and correctness, for all subgroups.

**Caution!** This step takes time.

In [10]:
X_subset = X_test[:10_000]

ifthens_coverage_correctness = valid_triples_with_coverage_correctness(
    X_subset,
    model,
    sensitive_attribute
)

print(f"Number of if-thens: {len(ifthens_coverage_correctness)}")

100%|████████████████████████████████████████████████████████████████████████████████| 339/339 [02:16<00:00,  2.49it/s]

Number of if-thens: 339

In [11]:
rules_by_if = rules2rulesbyif(ifthens_coverage_correctness)

In [12]:
K = 10

# keep K ifs with maximum coverage on Females
# TODO: the below is currently dataset dependent
rules_by_if = sorted(rules_by_if.items(), key=lambda e: e[1]["F"][0][1], reverse=True)[:K]
rules_by_if = dict(rules_by_if)

In [13]:
##### Uncomment if you wish to save rules object on disk

# import dill

# with open("rules.data", "wb") as outf:
#     dill.dump(rules_by_if, outf)

In [14]:
##### Uncomment if you wish to load rules object from disk

# import dill

# with open("rules.data", "rb") as inf:
#     rules_by_if = dill.load(inf)

In [15]:
from formatting import recourse_report_reverse

In [16]:
print(recourse_report_reverse(list(rules_by_if.items())))

If homeowner = 1:
	Subgroup 'F'
		Make homeowner = 0 with coverage 97.3881% and correctness 92.2551%.
	Subgroup 'M'
		Make homeowner = 0 with coverage 97.8084% and correctness 92.0271%.
	Subgroup 'Unknown'
		Make homeowner = 0 with coverage 97.3540% and correctness 92.9397%.
If income = Unknown:
	Subgroup 'F'
		Make income = >100K with coverage 95.6023% and correctness 0.0000%.
	Subgroup 'M'
		Make income = >100K with coverage 95.5657% and correctness 4.6933%.
	Subgroup 'Unknown'
		Make income = >100K with coverage 95.7725% and correctness 25.9447%.
If homeowner = 1, income = Unknown:
	Subgroup 'F'
		Make homeowner = 0, income = Unknown with coverage 94.8294% and correctness 93.3108%.
		Make homeowner = 0, income = >100K with coverage 94.8294% and correctness 93.4233%.
	Subgroup 'M'
		Make homeowner = 0, income = Unknown with coverage 94.6993% and correctness 93.5414%.
		Make homeowner = 0, income = >100K with coverage 94.6993% and correctness 94.2949%.
	Subgroup 'Unknown'
		Make homeowner = 0, income = Unknown with coverage 94.9513% and correctness 94.3306%.
		Make homeowner = 0, income = >100K with coverage 94.9513% and correctness 94.3626%.
If college_educated = 1:
	Subgroup 'F'
		Make college_educated = 0 with coverage 94.5629% and correctness 0.0000%.
	Subgroup 'M'
		Make college_educated = 0 with coverage 94.3935% and correctness 0.0000%.
	Subgroup 'Unknown'
		Make college_educated = 0 with coverage 94.0693% and correctness 0.0000%.
If age = 55-64:
	Subgroup 'F'
		Make age = 25-34 with coverage 93.0171% and correctness 0.0000%.
		Make age = 45-54 with coverage 93.0171% and correctness 0.0000%.
	Subgroup 'M'
		Make age = 25-34 with coverage 92.8644% and correctness 0.1647%.
		Make age = 45-54 with coverage 92.8644% and correctness 0.0000%.
	Subgroup 'Unknown'
		Make age = 25-34 with coverage 94.4343% and correctness 25.9903%.
		Make age = 45-54 with coverage 94.4343% and correctness 0.0000%.
If homeowner = 1, parents = 1:
	Subgroup 'F'
		Make homeowner = 0, parents = 1 with coverage 92.2974% and correctness 95.7262%.
	Subgroup 'M'
		Make homeowner = 0, parents = 1 with coverage 92.9664% and correctness 95.3947%.
	Subgroup 'Unknown'
		Make homeowner = 0, parents = 1 with coverage 92.1533% and correctness 96.8647%.
If college_educated = 1, homeowner = 1:
	Subgroup 'F'
		Make college_educated = 1, homeowner = 0 with coverage 92.1908% and correctness 92.3099%.
	Subgroup 'M'
		Make college_educated = 1, homeowner = 0 with coverage 92.2528% and correctness 91.8785%.
	Subgroup 'Unknown'
		Make college_educated = 1, homeowner = 0 with coverage 91.6667% and correctness 92.7339%.
If homeowner = 1, age = 55-64:
	Subgroup 'F'
		Make homeowner = 0, age = 55-64 with coverage 90.7783% and correctness 95.3905%.
		Make homeowner = 0, age = 45-54 with coverage 90.7783% and correctness 91.8967%.
	Subgroup 'M'
		Make homeowner = 0, age = 55-64 with coverage 91.3863% and correctness 95.1478%.
		Make homeowner = 0, age = 45-54 with coverage 91.3863% and correctness 95.1478%.
	Subgroup 'Unknown'
		Make homeowner = 0, age = 55-64 with coverage 92.2445% and correctness 94.7577%.
		Make homeowner = 0, age = 45-54 with coverage 92.2445% and correctness 94.7577%.
If college_educated = 1, income = Unknown:
	Subgroup 'F'
		Make college_educated = 1, income = >100K with coverage 90.4584% and correctness 0.0000%.
	Subgroup 'M'
		Make college_educated = 1, income = >100K with coverage 90.1631% and correctness 4.9746%.
	Subgroup 'Unknown'
		Make college_educated = 1, income = >100K with coverage 90.0243% and correctness 27.5338%.
If homeowner = 1, parents = 1, income = Unknown:
	Subgroup 'F'
		Make homeowner = 0, parents = 1, income = >100K with coverage 89.8987% and correctness 96.8870%.
	Subgroup 'M'
		Make homeowner = 0, parents = 1, income = >100K with coverage 89.9592% and correctness 97.7904%.
	Subgroup 'Unknown'
		Make homeowner = 0, parents = 1, income = >100K with coverage 89.8723% and correctness 98.3418%.