In [1]:
import numpy as np
import pandas as pd
# from apriori_python import apriori
from pprint import pprint

import lib
from lib import Predicate, optimize
from models import customXGB
from apriori import runApriori, aprioriout2predicateList

In [2]:
feature_names = [
   "Age", "Workclass", "fnlwgt", "Education",
   "Education-Num", "Marital Status", "Occupation",
   "Relationship", "Race", "Sex", "Capital Gain",
   "Capital Loss", "Hours per week", "Country", "label"
]
data = pd.DataFrame(
  np.genfromtxt('adult.data', delimiter=', ', dtype=str),
  columns=feature_names
)
cate_columns = ['Workclass', 'Education', 'Marital Status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Country']

# Definition and Training of a black-box model

In [3]:
model = customXGB(n_estimators=300, max_depth=5)
model.fit(data, cate_columns=cate_columns)

In [4]:
type(model.predict(data.iloc[:100, :]))

numpy.ndarray

In [ ]:
model.predict

In [5]:
X_aff_idxs = np.where(model.predict(data) == 0)[0]
print(data.shape)
print(X_aff_idxs.shape)
X_aff = data.iloc[X_aff_idxs, :]
print(X_aff.shape)
print(type(X_aff))
# X_aff.reset_index(inplace=True, drop=True)
# print(X_aff.shape)
# print(type(X_aff))

(32561, 15)
(25637,)
(25637, 15)
<class 'pandas.core.frame.DataFrame'>

# Testing of Rules Implementation

Plus valuation functions.

In [6]:
d = data[["Education", "Race", "Age", "Sex", "Country"]]
y = data["label"]

RecourseRulesMale = [
    ({"Education":"Bachelors", "Race":"White", "Country":"Greece"},
     {"Education":"Bachelors", "Race":"White", "Country":"United-States"}),
    ({"Race":"White", "Country":"Greece"}, {"Race":"Black", "Country":"Greece"}),
    ({"Sex":"Male", "Country":"Greece"}, {"Sex":"Female", "Country":"Greece"})
]

RecourseRulesFemale = [
    ({"Education":"Bachelors", "Race":"White", "Country":"Greece"},
     {"Education":"Bachelors", "Race":"White", "Country":"United-States"}),
    ({"Race":"White", "Country":"Greece"}, {"Race":"Black", "Country":"Greece"})
]

sex = lib.TwoLevelRecourseSet("Sex", ["Male", "Female"])
sex.addRules("Male", RecourseRulesMale)
sex.addRules("Female", RecourseRulesFemale)

In [7]:
list(sex.suggest(d.iloc[5839]))

[Predicate(features=['Education', 'Race', 'Country'], values=['Bachelors', 'White', 'United-States']),
 Predicate(features=['Race', 'Country'], values=['Black', 'Greece']),
 Predicate(features=['Sex', 'Country'], values=['Female', 'Greece'])]

In [8]:
print(f"Number of suggested actions (recourses) that have no effect: {lib.incorrectRecourses(sex, X_aff, model)}")
print(f"Number of individuals for which there is a suggestion: {lib.cover(sex, X_aff)}")
print(f"Total cost of changed features, based on change / no change, over all rules: {lib.featureCost(sex)}")
print(f"Total cost of changed features, based on magnitude of changed, over all rules: {lib.featureChange(sex)}")
print(f"Total number of triples / rules in our set: {lib.size(sex)}")
print(f"Maximum number of predicates in a triple / rule: {lib.maxwidth(sex)}")

print(lib.reward1(sex, X_aff, model))
print(lib.reward2(sex, X_aff))
print(lib.reward3(sex))
print(lib.reward4(sex))

Number of suggested actions (recourses) that have no effect: 36
Number of individuals for which there is a suggestion: 20
Total cost of changed features, based on change / no change, over all rules: 104
Total cost of changed features, based on magnitude of changed, over all rules: 5
Total number of triples / rules in our set: 5
Maximum number of predicates in a triple / rule: 3
512704
20
13896
135

In [9]:
len(X_aff[X_aff["Sex"] == "Male"])

15828

In [10]:
data[data.Sex == "Female"].shape

(10771, 15)

In [11]:
print(data)

      Age         Workclass  fnlwgt   Education Education-Num  \
0      39         State-gov   77516   Bachelors            13
1      50  Self-emp-not-inc   83311   Bachelors            13
2      38           Private  215646     HS-grad             9
3      53           Private  234721        11th             7
4      28           Private  338409   Bachelors            13
...    ..               ...     ...         ...           ...
32556  27           Private  257302  Assoc-acdm            12
32557  40           Private  154374     HS-grad             9
32558  58           Private  151910     HS-grad             9
32559  22           Private  201490     HS-grad             9
32560  52      Self-emp-inc  287927     HS-grad             9

           Marital Status         Occupation   Relationship   Race     Sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

      Capital Gain Capital Loss Hours per week        Country  label
0             2174            0             40  United-States  <=50K
1                0            0             13  United-States  <=50K
2                0            0             40  United-States  <=50K
3                0            0             40  United-States  <=50K
4                0            0             40           Cuba  <=50K
...            ...          ...            ...            ...    ...
32556            0            0             38  United-States  <=50K
32557            0            0             40  United-States   >50K
32558            0            0             40  United-States  <=50K
32559            0            0             20  United-States  <=50K
32560        15024            0             40  United-States   >50K

[32561 rows x 15 columns]

# Testing apriori adaptation and  implementation

In [12]:
# y = data["label"]
data = data.drop(["label", "Sex"], axis=1)
print(data.keys())
freq_itemsets = runApriori(data, min_support=0.03)
print(freq_itemsets)
RL = aprioriout2predicateList(freq_itemsets, data)
pprint(RL[:10])
print(len(RL))

Index(['Age', 'Workclass', 'fnlwgt', 'Education', 'Education-Num',
       'Marital Status', 'Occupation', 'Relationship', 'Race', 'Capital Gain',
       'Capital Loss', 'Hours per week', 'Country'],
      dtype='object')
       support                                           itemsets
0     1.000000                                                (0)
64    0.895857                                 (0, United-States)
1     0.895857                                    (United-States)
2     0.854274                                            (White)
65    0.854274                                         (0, White)
...        ...                                                ...
2526  0.030005  (United-States, HS-grad, 9, White, Never-marri...
1748  0.030005                                (7, 0, 11th, White)
1747  0.030005                                   (7, 11th, White)
1746  0.030005                                   (0, 11th, White)
1741  0.030005                                      (11th, White)

[3325 rows x 2 columns]
[Predicate(features=['Capital Loss'], values=['0']),
 Predicate(features=['Capital Loss', 'Country'], values=['0', 'United-States']),
 Predicate(features=['Country'], values=['United-States']),
 Predicate(features=['Race'], values=['White']),
 Predicate(features=['Capital Loss', 'Race'], values=['0', 'White']),
 Predicate(features=['Capital Loss', 'Country', 'Race'], values=['0', 'United-States', 'White']),
 Predicate(features=['Country', 'Race'], values=['United-States', 'White']),
 Predicate(features=['Workclass'], values=['Private']),
 Predicate(features=['Workclass', 'Capital Loss'], values=['Private', '0']),
 Predicate(features=['Workclass', 'Country'], values=['Private', 'United-States'])]
3325

In [13]:
print(freq_itemsets.tail(100).to_string())

       support                                                                itemsets
2640  0.030435                (Some-college, United-States, White, Private, Own-child)
2642  0.030435            (Some-college, United-States, 10, White, Private, Own-child)
985   0.030435                                     (Exec-managerial, 0, Not-in-family)
2644  0.030435         (Some-college, United-States, 10, White, Private, 0, Own-child)
2734  0.030435                 (Married-civ-spouse, Husband, Sales, White, Private, 0)
2733  0.030435                    (Married-civ-spouse, Husband, Sales, White, Private)
3318  0.030435                                        (Self-emp-inc, 0, United-States)
886   0.030435                                        (Exec-managerial, Not-in-family)
1856  0.030435                                  (Wife, Private, 0, Married-civ-spouse)
1855  0.030435                                     (Wife, Private, Married-civ-spouse)
3316  0.030435                                           (Self-emp-inc, United-States)
2643  0.030435             (Some-college, United-States, White, Private, 0, Own-child)
3200  0.030435                                 (Machine-op-inspct, Married-civ-spouse)
3233  0.030435                              (Machine-op-inspct, 0, Married-civ-spouse)
2493  0.030404                (United-States, 9, Private, Never-married, 0, Own-child)
2492  0.030404                   (United-States, 9, Private, Never-married, Own-child)
2735  0.030404                             (United-States, Husband, Sales, Private, 0)
2730  0.030404                                (Private, Sales, United-States, Husband)
3224  0.030374                                   (Private, Machine-op-inspct, HS-grad)
2752  0.030374                                  (United-States, Sales, 40, Private, 0)
2751  0.030374                                     (Private, Sales, 40, United-States)
2737  0.030374         (United-States, Married-civ-spouse, Husband, Sales, Private, 0)
2736  0.030374            (United-States, Married-civ-spouse, Husband, Sales, Private)
3228  0.030374                                         (Private, Machine-op-inspct, 9)
3230  0.030374                                (Private, Machine-op-inspct, 9, HS-grad)
3231  0.030374                                      (Private, 0, Machine-op-inspct, 9)
3232  0.030374                             (Machine-op-inspct, HS-grad, 9, Private, 0)
359   0.030374             (Not-in-family, United-States, 13, White, Never-married, 0)
358   0.030374                (Not-in-family, United-States, 13, White, Never-married)
3225  0.030374                                (Private, 0, Machine-op-inspct, HS-grad)
213   0.030343                 (Not-in-family, United-States, 9, White, Never-married)
214   0.030343              (Not-in-family, United-States, 9, White, Never-married, 0)
552   0.030312  (Not-in-family, United-States, 13, Bachelors, White, Never-married, 0)
551   0.030312     (Not-in-family, United-States, 13, Bachelors, White, Never-married)
550   0.030312      (Not-in-family, United-States, Bachelors, White, Never-married, 0)
548   0.030312         (Not-in-family, United-States, Bachelors, White, Never-married)
3321  0.030282                                                  (36, 0, United-States)
3320  0.030282                                                     (36, United-States)
1827  0.030282                   (Never-married, Prof-specialty, United-States, White)
1828  0.030282                (United-States, Prof-specialty, White, Never-married, 0)
287   0.030282     (Not-in-family, United-States, HS-grad, 9, White, Never-married, 0)
283   0.030282           (Not-in-family, United-States, HS-grad, White, Never-married)
747   0.030282                                   (0, Adm-clerical, Married-civ-spouse)
285   0.030282        (Not-in-family, United-States, HS-grad, 9, White, Never-married)
682   0.030282                                      (Adm-clerical, Married-civ-spouse)
286   0.030282        (Not-in-family, United-States, HS-grad, White, Never-married, 0)
2928  0.030251                                    (Private, 40, HS-grad, Craft-repair)
3008  0.030251                              (HS-grad, 40, 9, Private, 0, Craft-repair)
2933  0.030251                                 (HS-grad, 40, Private, 0, Craft-repair)
482   0.030251               (United-States, Married-civ-spouse, 13, Bachelors, 40, 0)
3007  0.030251                                       (40, 9, Private, 0, Craft-repair)
3006  0.030251                                 (HS-grad, 40, 9, Private, Craft-repair)
2994  0.030251                                          (Private, 40, 9, Craft-repair)
480   0.030251                   (United-States, Married-civ-spouse, Bachelors, 40, 0)
475   0.030251                      (Bachelors, 40, United-States, Married-civ-spouse)
325   0.030251                          (United-States, Married-civ-spouse, 13, 40, 0)
481   0.030251                  (United-States, Married-civ-spouse, 13, Bachelors, 40)
323   0.030251                             (40, United-States, Married-civ-spouse, 13)
2485  0.030220                  (United-States, 9, White, Never-married, 0, Own-child)
2484  0.030220                     (United-States, 9, White, Never-married, Own-child)
3059  0.030189                                                              (?, 40, 0)
3056  0.030189                                                                 (?, 40)
2773  0.030159                                             (Assoc-acdm, United-States)
2540  0.030159             (United-States, HS-grad, Private, Never-married, Own-child)
2542  0.030159          (United-States, HS-grad, 9, Private, Never-married, Own-child)
2775  0.030159                                         (Assoc-acdm, United-States, 12)
2777  0.030159                                      (0, Assoc-acdm, United-States, 12)
2544  0.030159       (United-States, HS-grad, 9, Private, Never-married, 0, Own-child)
2543  0.030159          (United-States, HS-grad, Private, Never-married, 0, Own-child)
2776  0.030159                                          (0, Assoc-acdm, United-States)
61    0.030128                                                        (Other-relative)
3322  0.030128                                                     (0, Other-relative)
271   0.030067              (Not-in-family, United-States, HS-grad, 40, 9, Private, 0)
205   0.030067                          (Not-in-family, United-States, 40, 9, Private)
3306  0.030067                                                                 (0, 15)
270   0.030067                 (Not-in-family, United-States, HS-grad, 40, Private, 0)
206   0.030067                       (Not-in-family, United-States, 40, 9, Private, 0)
269   0.030067                 (Not-in-family, United-States, HS-grad, 40, 9, Private)
964   0.030067                            (13, Bachelors, Private, Exec-managerial, 0)
963   0.030067                               (Private, Exec-managerial, Bachelors, 13)
3263  0.030067                                  (United-States, Husband, 60, White, 0)
962   0.030067                                       (Private, Exec-managerial, 0, 13)
950   0.030067                                          (Private, Exec-managerial, 13)
940   0.030067                                   (Private, Exec-managerial, Bachelors)
267   0.030067                    (Not-in-family, United-States, HS-grad, 40, Private)
55    0.030067                                                                    (15)
945   0.030067                                (Private, Exec-managerial, 0, Bachelors)
3261  0.030067                                     (60, White, United-States, Husband)
3265  0.030036              (United-States, Married-civ-spouse, Husband, 60, White, 0)
1722  0.030036                                      (Private, Never-married, 0, Black)
1720  0.030036                                         (Private, Never-married, Black)
3264  0.030036                 (United-States, Married-civ-spouse, Husband, 60, White)
2522  0.030005               (United-States, HS-grad, White, Never-married, Own-child)
2524  0.030005            (United-States, HS-grad, 9, White, Never-married, Own-child)
2525  0.030005            (United-States, HS-grad, White, Never-married, 0, Own-child)
2526  0.030005         (United-States, HS-grad, 9, White, Never-married, 0, Own-child)
1748  0.030005                                                     (7, 0, 11th, White)
1747  0.030005                                                        (7, 11th, White)
1746  0.030005                                                        (0, 11th, White)
1741  0.030005                                                           (11th, White)

In [14]:
print(RL[:10])

[Predicate(features=['Capital Loss'], values=['0']), Predicate(features=['Capital Loss', 'Country'], values=['0', 'United-States']), Predicate(features=['Country'], values=['United-States']), Predicate(features=['Race'], values=['White']), Predicate(features=['Capital Loss', 'Race'], values=['0', 'White']), Predicate(features=['Capital Loss', 'Country', 'Race'], values=['0', 'United-States', 'White']), Predicate(features=['Country', 'Race'], values=['United-States', 'White']), Predicate(features=['Workclass'], values=['Private']), Predicate(features=['Workclass', 'Capital Loss'], values=['Private', '0']), Predicate(features=['Workclass', 'Country'], values=['Private', 'United-States'])]

# Testing optimization procedure with hand-picked SD and RL

In [15]:
SD = list(map(Predicate.from_dict_categorical, [
    {"Sex": "Male"},
    {"Sex": "Female"}
]))

RL_byhand = list(map(Predicate.from_dict_categorical, [
    {"Education":"Bachelors", "Race":"White", "Country":"Greece"},
    {"Education":"Bachelors", "Race":"White", "Country":"United-States"},
    {"Race":"White", "Country":"Greece"},
    {"Race":"Black", "Country":"Greece"},
    {"Sex":"Male", "Country":"Greece"},
    {"Sex":"Female", "Country":"Greece"},
    {"Education":"Bachelors", "Race":"White", "Country":"Greece"},
    {"Education":"Bachelors", "Race":"White", "Country":"United-States"},
    {"Race":"White", "Country":"Greece"},
    {"Race":"Black", "Country":"Greece"}
]))

print(SD)
print()
pprint(RL_byhand)

[Predicate(features=['Sex'], values=['Male']), Predicate(features=['Sex'], values=['Female'])]

[Predicate(features=['Education', 'Race', 'Country'], values=['Bachelors', 'White', 'Greece']),
 Predicate(features=['Education', 'Race', 'Country'], values=['Bachelors', 'White', 'United-States']),
 Predicate(features=['Race', 'Country'], values=['White', 'Greece']),
 Predicate(features=['Race', 'Country'], values=['Black', 'Greece']),
 Predicate(features=['Sex', 'Country'], values=['Male', 'Greece']),
 Predicate(features=['Sex', 'Country'], values=['Female', 'Greece']),
 Predicate(features=['Education', 'Race', 'Country'], values=['Bachelors', 'White', 'Greece']),
 Predicate(features=['Education', 'Race', 'Country'], values=['Bachelors', 'White', 'United-States']),
 Predicate(features=['Race', 'Country'], values=['White', 'Greece']),
 Predicate(features=['Race', 'Country'], values=['Black', 'Greece'])]

In [16]:
print(X_aff.shape)
print(data.shape)

(25637, 15)
(32561, 13)

In [26]:
%%time

final_rules = optimize(SD, RL[:400], X_aff[:400], model)

CPU times: total: 3min 54s
Wall time: 30.1 s

In [27]:
pprint(final_rules)

([(Predicate(features=['Sex'], values=['Male']),
   Predicate(features=['Marital Status'], values=['Never-married']),
   Predicate(features=['Marital Status'], values=['Married-civ-spouse'])),
  (Predicate(features=['Sex'], values=['Female']),
   Predicate(features=['Marital Status'], values=['Divorced']),
   Predicate(features=['Marital Status'], values=['Married-civ-spouse']))],
 -127,
 149,
 -10,
 -10)

In [19]:
pprint(final_rules)

([], 0, 0, 0, 0)

In [20]:
print(X_aff.shape)

(25637, 15)

In [21]:
t = X_aff[X_aff.Sex == "Male"]
t = t[t.Education == "Bachelors"]
t = t[t.Race == "Black"]
t = t[t.Country == "United-States"]
print(t)

      Age     Workclass  fnlwgt  Education Education-Num      Marital Status  \
159    42       Private  228456  Bachelors            13           Separated
192    41     Local-gov  523910  Bachelors            13  Married-civ-spouse
505    24       Private  388093  Bachelors            13       Never-married
907    24       Private  202570  Bachelors            13       Never-married
1883   27   Federal-gov  508336  Bachelors            13       Never-married
...    ..           ...     ...        ...           ...                 ...
30849  42     State-gov  212027  Bachelors            13            Divorced
31366  25       Private  173062  Bachelors            13       Never-married
31407  24       Private  493034  Bachelors            13       Never-married
31495  41       Private  197093  Bachelors            13            Divorced
32040  42  Self-emp-inc  161532  Bachelors            13  Married-civ-spouse

              Occupation    Relationship   Race   Sex Capital Gain  \
159        Other-service  Other-relative  Black  Male            0
192         Craft-repair         Husband  Black  Male            0
505      Exec-managerial   Not-in-family  Black  Male            0
907       Prof-specialty       Own-child  Black  Male            0
1883     Exec-managerial   Not-in-family  Black  Male            0
...                  ...             ...    ...   ...          ...
30849     Prof-specialty   Not-in-family  Black  Male            0
31366  Handlers-cleaners       Unmarried  Black  Male            0
31407     Prof-specialty   Not-in-family  Black  Male            0
31495     Prof-specialty   Not-in-family  Black  Male            0
32040       Craft-repair         Husband  Black  Male            0

      Capital Loss Hours per week        Country  label
159              0             50  United-States  <=50K
192              0             40  United-States  <=50K
505              0             40  United-States  <=50K
907              0             15  United-States  <=50K
1883             0             48  United-States  <=50K
...            ...            ...            ...    ...
30849            0             40  United-States  <=50K
31366            0             40  United-States  <=50K
31407            0             40  United-States  <=50K
31495            0             40  United-States  <=50K
32040            0             60  United-States  <=50K

[77 rows x 15 columns]